# Task 1

**1 ) Create pandas series with different data types in different ways**

In [1]:
import pandas as pd

In [11]:
prices = list(range(10,25))   #using list

In [12]:
pd.Series(prices)

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
12    22
13    23
14    24
dtype: int64

In [6]:
marks = tuple(range(10,25))   #using tuple

In [7]:
pd.Series(marks)

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
12    22
13    23
14    24
dtype: int64

In [13]:
names  = ("kitkat","Dairymilk","hersheys","temptations","bournville")  #object dtype

In [9]:
pd.Series(names)

0         kitkat
1      Dairymilk
2       hersheys
3    temptations
4     bournville
dtype: object

In [17]:
import numpy as np                                              #using randint
giftvouchers = np.random.randint(3000,4500,5)

In [16]:
pd.Series(giftvouchers,index=list(range(1,6)),dtype='int16')

1    3639
2    3897
3    3317
4    3558
5    3432
dtype: int16

**2) Find the attributes of Series of [10,30,40,1,3,6,14,18,23] with index starts from 100**

In [18]:
num = [10,30,40,1,3,6,14,18,23] 
len_num = len(num)

In [31]:
a = pd.Series(num,index=list(range(100,100+len_num)))

In [32]:
a

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [34]:
a.head()

100    10
101    30
102    40
103     1
104     3
dtype: int64

In [35]:
a.head(3)

100    10
101    30
102    40
dtype: int64

In [36]:
a.tail()

104     3
105     6
106    14
107    18
108    23
dtype: int64

In [37]:
a.tail(3)

106    14
107    18
108    23
dtype: int64

In [38]:
a.dtype

dtype('int64')

In [40]:
a.describe()

count     9.000000
mean     16.111111
std      13.033078
min       1.000000
25%       6.000000
50%      14.000000
75%      23.000000
max      40.000000
dtype: float64

In [42]:
a.nbytes

72

In [43]:
a.size

9

In [44]:
a.memory_usage()

144

In [45]:
a.where(a>10)

100     NaN
101    30.0
102    40.0
103     NaN
104     NaN
105     NaN
106    14.0
107    18.0
108    23.0
dtype: float64

In [46]:
a.info()

<class 'pandas.core.series.Series'>
Int64Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

**3) create salaries of 30 employee salaries randomly from 30000-90000 then measure and describe the data using pandas series**

In [21]:
salaries = np.random.randint(30000,90000,30)

In [28]:
sal = pd.Series(salaries,index=list(range(1,31)),dtype='int32')

In [29]:
sal

1     59959
2     65995
3     83598
4     81021
5     71218
6     31431
7     33121
8     82206
9     66479
10    74557
11    65316
12    38784
13    33998
14    40562
15    71664
16    86743
17    52490
18    53548
19    59011
20    88741
21    55760
22    39823
23    46125
24    79413
25    65340
26    58188
27    84550
28    85598
29    84778
30    48618
dtype: int32

In [30]:
sal.info()     #describing info

<class 'pandas.core.series.Series'>
Int64Index: 30 entries, 1 to 30
Series name: None
Non-Null Count  Dtype
--------------  -----
30 non-null     int32
dtypes: int32(1)
memory usage: 360.0 bytes

In [ ]:
#statistical measures

In [47]:
sal.mean()

62954.5

In [48]:
sal.median()

65328.0

In [49]:
sal.std()

18119.00696211311

In [50]:
sal.mode()

0     31431
1     33121
2     33998
3     38784
4     39823
5     40562
6     46125
7     48618
8     52490
9     53548
10    55760
11    58188
12    59011
13    59959
14    65316
15    65340
16    65995
17    66479
18    71218
19    71664
20    74557
21    79413
22    81021
23    82206
24    83598
25    84550
26    84778
27    85598
28    86743
29    88741
dtype: int32

In [51]:
sal.var()

328298413.29310346

In [52]:
sal.describe()

count       30.000000
mean     62954.500000
std      18119.006962
min      31431.000000
25%      49586.000000
50%      65328.000000
75%      80619.000000
max      88741.000000
dtype: float64

**4)What are the similaraties and differences between pandas series and nnumpy array.Prove it with code.**

pandas series --- index based and numbers or text data

numpy array ---- numerical values and not index based

In [56]:
giftvouchers

array([4306, 3361, 3100, 3116, 4282])

In [58]:
pd.Series(giftvouchers)  #index based

0    4306
1    3361
2    3100
3    3116
4    4282
dtype: int32

In [60]:
pd.Series(names)  #text data

0         kitkat
1      Dairymilk
2       hersheys
3    temptations
4     bournville
dtype: object


**5)create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.**

In [66]:
num_series = list(range(100,151))
num_series

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150]

In [72]:
p = pd.Series(num_series)
p

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
50    150
dtype: int64

In [73]:
# indexing
p[1]

101

In [74]:
#slicing

In [76]:
p[50:40:-1]    #reverse slicing

50    150
49    149
48    148
47    147
46    146
45    145
44    144
43    143
42    142
41    141
dtype: int64

In [80]:
p[40:50:2]

40    140
42    142
44    144
46    146
48    148
dtype: int64