# Task 4

In [2]:
import numpy as np
import pandas as pd

In [3]:
a = pd.read_excel(r"C:\Users\anaji\Sowjanya\Task FOLDER\Pandas\Clean.xlsx")
a

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,1,5.1,3.5,1.4,0,Iris-setosa
1,1,2,4.9,3.0,1.4,0,Iris-setosa
2,2,3,NaN,3.2,1.3,0,Iris-setosa
3,3,4,4.6,3.1,1.5,0,Iris-setosa
4,4,5,5.0,3.6,1.4,0,Iris-setosa
...,...,...,...,...,...,...,...
155,155,156,5.5,2.4,3.8,1,Iris-versicolor
156,156,157,5.4,3.9,1.7,0,Iris-setosa
157,157,158,4.6,3.4,1.4,0,Iris-setosa
158,158,159,6.4,3.2,5.3,2,Iris-virginica
159,159,160,6.5,3.0,5.5,1,Iris-virginica

### Clean the data..i.e Missing values,Outliers,duplicates and type casting in best possible way.

In [5]:
# MISSING VALUES

In [4]:
a.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    4
SepalWidthCm     4
PetalLengthCm    3
PetalWidthCm     0
Species          5
dtype: int64

In [7]:
a['SepalLengthCm'].median()

5.8

In [8]:
a["SepalLengthCm"].fillna(a["SepalLengthCm"].median(),inplace = True)

In [10]:
a["SepalWidthCm"].fillna(a["SepalWidthCm"].median(),inplace = True)

In [11]:
a["PetalLengthCm"].fillna(method = "bfill", inplace = True)

In [12]:
a['Species'].mode()[0]

'Iris-versicolor'

In [13]:
a["Species"].fillna(a['Species'].mode()[0], inplace = True)

In [16]:
a.isna().sum()

Unnamed: 0       0
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [17]:
#outliers

In [23]:
import numpy as np

a["SepalLengthCm"] = np.where((a["SepalLengthCm"] < 0.5) | (a["SepalLengthCm"] > 8),
                               np.median(a['SepalLengthCm']),
                               a['SepalLengthCm'])

a["SepalWidthCm"]= np.where((a["SepalWidthCm"] < 0.5) | (a["SepalWidthCm"] > 5),
                               np.median(a['SepalWidthCm']),
                               a['SepalWidthCm'])


a["PetalLengthCm"]= np.where((a["PetalLengthCm"] < 0.5) | (a["PetalLengthCm"] > 7),
                               np.median(a['PetalLengthCm']),
                               a['PetalLengthCm'])

a["PetalWidthCm"]=np.where((a["PetalWidthCm"] < 0) | (a["PetalLengthCm"] > 2),
                               np.median(a['PetalWidthCm']),
                               a['PetalWidthCm'])

In [24]:
# detecting the duplicates

In [29]:
a.duplicated().sum()

0

In [35]:
a.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,5.1,3.5,1.4,0.0,Iris-setosa
1,1,4.9,3.0,1.4,0.0,Iris-setosa
2,2,5.8,3.2,1.3,0.0,Iris-setosa
3,3,4.6,3.1,1.5,0.0,Iris-setosa
4,4,5.0,3.6,1.4,0.0,Iris-setosa

In [36]:
a.drop("Unnamed: 0",axis = 1,inplace = True)

In [37]:
a.duplicated().sum()

18

In [41]:
a[a.duplicated()]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
17             5.1           3.5            1.4           0.0      Iris-setosa
34             4.9           3.1            1.5           0.0      Iris-setosa
37             4.9           3.1            1.5           0.0      Iris-setosa
42             5.8           3.2            1.3           0.0      Iris-setosa
45             4.8           3.0            1.4           0.0      Iris-setosa
132            6.4           2.8            5.6           1.0   Iris-virginica
142            5.8           2.7            5.1           1.0   Iris-virginica
144            6.7           3.3            5.7           1.0   Iris-virginica
150            6.1           2.9            4.7           1.0  Iris-versicolor
151            5.6           2.9            3.6           1.0  Iris-versicolor
152            6.7           3.1            4.4           1.0  Iris-versicolor
153            5.6           3.0            4.5           1.0  Iris-versicolor
154            5.7           2.6            3.5           1.0  Iris-versicolor
155            5.5           2.4            3.8           1.0  Iris-versicolor
156            5.4           3.9            1.7           0.0      Iris-setosa
157            4.6           3.4            1.4           0.0      Iris-setosa
158            6.4           3.2            5.3           1.0   Iris-virginica
159            6.5           3.0            5.5           1.0   Iris-virginica

In [42]:
a[a.duplicated()].index

Int64Index([ 17,  34,  37,  42,  45, 132, 142, 144, 150, 151, 152, 153, 154,
            155, 156, 157, 158, 159],
           dtype='int64')

In [43]:
a.drop_duplicates(keep = "first",inplace = True)

In [45]:
a.duplicated().sum()

0

In [46]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float64
 1   SepalWidthCm   142 non-null    float64
 2   PetalLengthCm  142 non-null    float64
 3   PetalWidthCm   142 non-null    float64
 4   Species        142 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.7+ KB

## Type casting

In [48]:
a["SepalLengthCm"] = a["SepalLengthCm"].astype("float16")
a["SepalWidthCm"] = a["SepalWidthCm"].astype("float16")
a["PetalLengthCm"] = a["PetalLengthCm"].astype("float16")
a["PetalWidthCm"]  = a["PetalWidthCm"].astype("int16")
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  142 non-null    float16
 1   SepalWidthCm   142 non-null    float16
 2   PetalLengthCm  142 non-null    float16
 3   PetalWidthCm   142 non-null    int16
 4   Species        142 non-null    object
dtypes: float16(3), int16(1), object(1)
memory usage: 3.3+ KB