# Task 4

In [11]:
import numpy as np
import pandas as pd

In [170]:
df = pd.read_excel(r"C:\Users\anaji\Sowjanya\Task FOLDER\Pandas\ethnic_diversity.xlsx")
df

,Employee_Name,EmpID,Position,State,Zip,Gender,MaritalDesc,CitizenDesc,EmploymentStatus,Department,Salaries,age,Race
0,"Brown, Mia",1103024456,Accountant I,MA,1450.0,F,Married,US Citizen,Active,Admin Offices,674.28,28,Black or African American
1,"LaRotonda, William",1106026572,Accountant I,MA,1460.0,M,Divorced,US Citizen,Active,Admin Offices,674.28,50,NaN
2,"Steans, Tyrone",1302053333,Accountant I,MA,2703.0,M,Single,US Citizen,Active,Admin Offices,674.28,43,White
3,"Howard, Estelle",1211050782,Administrative Assistant,MA,2170.0,F,Married,US Citizen,Terminated for Cause,Admin Offices,NaN,44,White
4,"Singh, Nan",1307059817,Administrative Assistant,MA,2330.0,F,Single,US Citizen,Active,Admin Offices,61089.35,33,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,"Daniele, Ann",1411071312,Sr. Network Engineer,CT,6033.0,F,Married,US Citizen,Leave of Absence,IT/IS,37619.01,38,White
306,"Lajiri, Jyoti",1108028108,Sr. Network Engineer,MA,2169.0,M,Married,US Citizen,Leave of Absence,IT/IS,27603.00,34,White
307,"Semizoglou, Jeremiah",904013591,Sr. Network Engineer,MA,1545.0,M,Married,US Citizen,Future Start,IT/IS,27587.46,24,Asian
308,"South, Joe",1308060959,Sr. Network Engineer,CT,6278.0,M,Single,US Citizen,Active,IT/IS,12126.53,31,White
309,"Warfield, Sarah",1301052347,Sr. Network Engineer,MA,2453.0,F,Widowed,US Citizen,Active,IT/IS,37257.00,46,Asian

a. Kindly fill the missing values with

i). value
ii). Statistical value
iii). Filling  method

In [13]:
df.isna().sum()

Employee_Name        0
EmpID                0
Position             3
State                2
Zip                  2
Gender               7
MaritalDesc          9
CitizenDesc          3
EmploymentStatus     0
Department           5
Salaries            12
age                  0
Race                 9
dtype: int64

# position

In [4]:
#based on value

In [22]:
df['Position'].isna().sum()

3

In [8]:
df['Position'].fillna('Accountant I',inplace = True)
df

,Employee_Name,EmpID,Position,State,Zip,Gender,MaritalDesc,CitizenDesc,EmploymentStatus,Department,Salaries,age,Race
0,"Brown, Mia",1103024456,Accountant I,MA,1450.0,F,Married,US Citizen,Active,Admin Offices,674.28,28,Black or African American
1,"LaRotonda, William",1106026572,Accountant I,MA,1460.0,M,Divorced,US Citizen,Active,Admin Offices,674.28,50,NaN
2,"Steans, Tyrone",1302053333,Accountant I,MA,2703.0,M,Single,US Citizen,Active,Admin Offices,674.28,43,White
3,"Howard, Estelle",1211050782,Administrative Assistant,MA,2170.0,F,Married,US Citizen,Terminated for Cause,Admin Offices,NaN,44,White
4,"Singh, Nan",1307059817,Administrative Assistant,MA,2330.0,F,Single,US Citizen,Active,Admin Offices,61089.35,33,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,"Daniele, Ann",1411071312,Sr. Network Engineer,CT,6033.0,F,Married,US Citizen,Leave of Absence,IT/IS,37619.01,38,White
306,"Lajiri, Jyoti",1108028108,Sr. Network Engineer,MA,2169.0,M,Married,US Citizen,Leave of Absence,IT/IS,27603.00,34,White
307,"Semizoglou, Jeremiah",904013591,Sr. Network Engineer,MA,1545.0,M,Married,US Citizen,Future Start,IT/IS,27587.46,24,Asian
308,"South, Joe",1308060959,Sr. Network Engineer,CT,6278.0,M,Single,US Citizen,Active,IT/IS,12126.53,31,White
309,"Warfield, Sarah",1301052347,Sr. Network Engineer,MA,2453.0,F,Widowed,US Citizen,Active,IT/IS,37257.00,46,Asian

In [9]:
df['Position'].isna().sum()

0

In [10]:
#based on stastical method

In [23]:
df['Position'].isna().sum()

3

In [18]:
df['Position'].mode()[0]

'Production Technician I'

In [19]:
df['Position'].fillna(df['Position'].mode()[0],inplace = True)

In [20]:
df['Position'].isna().sum()

0

In [24]:
#based on filling method

In [26]:
df['Position'].isna().sum()

3

In [27]:
df['Position'].fillna(method = 'bfill',inplace = True)

In [28]:
df['Position'].isna().sum()

0

# State

In [29]:
#based on value

In [31]:
df['State'].isna().sum()

2

In [32]:
df['State'].fillna('MA',inplace = True)

In [33]:
df['State'].isna().sum()

0

In [34]:
#based on statistical method

In [36]:
df['State'].isna().sum()

2

In [37]:
df['State'].mode()[0]

'MA'

In [38]:
df['State'].fillna(df['State'].mode()[0],inplace = True)

In [39]:
df['State'].isna().sum()

0

In [40]:
#based on filling method

In [42]:
df['State'].isna().sum()

2

In [43]:
df['State'].fillna(method = 'ffill',inplace = True)

In [44]:
df['State'].isna().sum()

0

# Zip

In [50]:
#based on value

In [47]:
df['Zip'].isna().sum()

2

In [48]:
df['Zip'].fillna(2703.0, inplace = True)

In [49]:
df['Zip'].isna().sum()

0

In [51]:
#based on statistical method

In [53]:
df['Zip'].isna().sum()

2

In [54]:
df['Zip'].median()

2132.0

In [55]:
df['Zip'].fillna(df['Zip'].median(), inplace = True)

In [56]:
df['Zip'].isna().sum()

0

In [57]:
#based on filling method

In [59]:
df['Zip'].isna().sum()

2

In [60]:
df['Zip'].fillna(method = 'ffill', inplace = True)

In [61]:
df['Zip'].isna().sum()

0

# Gender

In [63]:
df['Gender'].isna().sum()

7

In [64]:
#based on value

In [65]:
df['Gender'].fillna('M', inplace = True)

In [66]:
df['Gender'].isna().sum()

0

In [67]:
#based on statistical method

In [69]:
df['Gender'].isna().sum()

7

In [70]:
df['Gender'].mode()[0]

'F'

In [71]:
df['Gender'].fillna('F', inplace = True)

In [72]:
df['Gender'].isna().sum()

0

In [73]:
#based on filling method

In [80]:
df['Gender'].isna().sum()

7

In [81]:
df['Gender'].fillna(method = 'bfill', inplace = True)

In [82]:
df['Gender'].isna().sum()

0

# MaritalDesc

In [85]:
df['MaritalDesc'].isna().sum()

9

In [86]:
#based on values

In [87]:
df['MaritalDesc'].fillna('Single',inplace = True)

In [88]:
df['MaritalDesc'].isna().sum()

0

In [89]:
#based on statistical method

In [91]:
df['MaritalDesc'].isna().sum()

9

In [93]:
df['MaritalDesc'].mode()[0]

'Single'

In [94]:
df['MaritalDesc'].fillna(df['MaritalDesc'].mode()[0],inplace = True)

In [95]:
df['MaritalDesc'].isna().sum()

0

In [96]:
#based on filling

In [98]:
df['MaritalDesc'].isna().sum()

9

In [99]:
df['MaritalDesc'].fillna(method = 'ffill', inplace = True)

In [101]:
df['MaritalDesc'].isna().sum()

0

# CitizenDesc

In [103]:
df['CitizenDesc'].isna().sum()

3

In [104]:
#based on value

In [108]:
df['CitizenDesc'].fillna('US Citizen', inplace = True)

In [109]:
df['CitizenDesc'].isna().sum()

0

In [110]:
#based on statistical method

In [112]:
df['CitizenDesc'].isna().sum()

3

In [113]:
df['CitizenDesc'].mode()[0]

'US Citizen'

In [114]:
df['CitizenDesc'].fillna(df['CitizenDesc'].mode()[0], inplace = True)

In [115]:
df['CitizenDesc'].isna().sum()

0

In [116]:
#based on filling

In [118]:
df['CitizenDesc'].isna().sum()

3

In [119]:
df['CitizenDesc'].fillna(method = 'bfill', inplace = True)

In [120]:
df['CitizenDesc'].isna().sum()

0

# Department

In [122]:
df['Department'].isna().sum()

5

In [123]:
#based on value

In [124]:
df['Department'].fillna('Admin Offices',inplace = True)

In [125]:
df['Department'].isna().sum()

0

In [126]:
#based on statistical method

In [128]:
df['Department'].isna().sum()

5

In [130]:
df['Department'].mode()[0]

'Production       '

In [131]:
df['Department'].fillna(df['Department'].mode()[0],inplace = True)

In [132]:
df['Department'].isna().sum()

0

In [133]:
#basic on filling method

In [135]:
df['Department'].isna().sum()

5

In [136]:
df['Department'].fillna(method = 'bfill',inplace = True)

In [137]:
df['Department'].isna().sum()

0

# Salaries

In [140]:
df['Salaries'].isna().sum()

12

In [141]:
#based on values

In [143]:
df['Salaries'].fillna(674.28,inplace = True)

In [144]:
df['Salaries'].isna().sum()

0

In [145]:
#based on statistical method

In [147]:
df['Salaries'].isna().sum()

12

In [148]:
df['Salaries'].median()

34554.744999999995

In [149]:
df['Salaries'].fillna(df['Salaries'].median(),inplace = True)

In [151]:
df['Salaries'].isna().sum()

0

In [152]:
#based on filling method

In [154]:
df['Salaries'].isna().sum()

12

In [155]:
df['Salaries'].fillna(method = 'bfill',inplace = True)

In [156]:
df['Salaries'].isna().sum()

0

# Race

In [158]:
df['Race'].isna().sum()

9

In [159]:
#based on value

In [160]:
df['Race'].fillna('White',inplace = True)

In [161]:
df['Race'].isna().sum()

0

In [162]:
#based on statistical method

In [164]:
df['Race'].isna().sum()

9

In [166]:
df['Race'].mode()[0]

'White'

In [167]:
df['Race'].fillna(df['Race'].mode()[0],inplace = True)

In [168]:
df['Race'].isna().sum()

0

In [169]:
#based on filling method

In [171]:
df['Race'].isna().sum()

9

In [172]:
df['Race'].fillna(method = 'ffill',inplace = True)

In [173]:
df['Race'].isna().sum()

0

B) Create pivot table for  position and average salary.

In [180]:
df2=df.pivot_table(values='Salaries',index='Position',aggfunc='mean')
df2

                                  Salaries
Position
Accountant I                    674.280000
Administrative Assistant      46747.685000
Area Sales Manager            42048.275769
BI Developer                  37449.776667
BI Director                    4160.000000
CIO                           26418.010000
Data Analyst                  37772.945714
Data Analyst                  42304.750000
Data Architect                90016.010000
Database Administrator        33813.996000
Director of Sales             27595.700000
Enterprise Architect           5802.000000
IT Director                   36741.000000
IT Manager - DB               49791.240000
IT Manager - Infra             8997.890000
IT Manager - Support           2143.580000
IT Support                    48646.718571
Network Engineer              35897.950000
President & CEO               52633.500000
Principal Data Architect      24828.700000
Production Manager            51508.537692
Production Technician I       35136.340787
Production Technician II      33803.863333
Sales Manager                 34093.246667
Senior BI Developer           71293.676667
Shared Services Manager       45262.975000
Software Engineer             39892.308889
Software Engineering Manager  40208.000000
Sr. Accountant                27349.755000
Sr. DBA                       31954.975000
Sr. Network Engineer          28438.600000

C) Group the data using group by as per gender  and average age.

In [181]:
a= df.groupby(by='Gender')[['age']].agg(np.mean)
a

              age
Gender
F       38.738372
M       38.732824