# Task 3

1. Find all Statistic Measures
2. Which subject has highest average ?
3. What are the Student IDs who got more tham 80% GPA?
4. How many female students are there in the class?
5. What is the ratio of male students and female students?
6. What are the marks of male students in statistics ?
7. What is the ID of the class topper ?
8. What is the gender of probabilty topper?
9. Create Pivot Table for gender and class?
10. Which subject got least average marks.?
11. How many male and female students are there ?
12. How many female student are there from class A?
13. Which class has more strength ?
14.Sort the data as per algebra ?
15. How many students got exactly 64 marks from functional analysis?

In [3]:
import pandas as pd
import numpy as np

In [7]:
a = pd.read_csv(r"C:\Users\anaji\Sowjanya\Task FOLDER\Pandas\studens_data.csv")
a

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

1) Find all Statistic Measures?

In [8]:
a.describe()

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000

2. Which subject has highest average ?

In [20]:
avg = a.loc[:,['Algebra','Calculus1','Calculus2','Statistics','Probability','Measure','Functional_analysis']].mean()
avg

Algebra                76.057143
Calculus1              71.961905
Calculus2              78.942857
Statistics             85.133333
Probability            83.876190
Measure                80.761905
Functional_analysis    75.323810
dtype: float64

In [23]:
avg.max()  #highest average

85.13333333333334

3. What are the Student IDs who got more tham 80% GPA?

In [25]:
c = a[a['GPA']> 80]
c

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
11,1152,B,female,83.65,73,75,76,71,85,74,89
13,1154,A,male,80.08,67,65,74,73,87,68,76
14,1155,A,male,81.67,73,60,55,76,77,74,64
15,1156,B,female,82.07,72,63,70,76,81,86,73
17,1158,A,male,81.50,68,67,55,76,85,75,87
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [27]:
c[['ID','GPA']]

       ID    GPA
11   1152  83.65
13   1154  80.08
14   1155  81.67
15   1156  82.07
17   1158  81.50
..    ...    ...
100  1241  88.34
101  1242  89.84
102  1243  88.82
103  1244  86.60
104  1245  93.71

[76 rows x 2 columns]

4) How many female students are there in the class?

In [29]:
len(a[a['gender']=='female'])

68

5. What is the ratio of male students and female students?

In [300]:
 len(a[a['gender']=='male'])/len(a[a['gender']=='female'])

0.5441176470588235

6.What are the marks of male students in statistics ?

In [62]:
a[a['gender']=='male']['Statistics']

0       60
5       61
6       63
10      69
13      73
14      76
16      76
17      76
18      76
19      78
20      78
21      78
24      80
28      83
31      83
32      83
33      83
40      85
47      87
50      87
59      89
61      89
65      90
72      92
78      92
82      92
89      94
90      95
92      95
96      97
97      97
98      97
99      97
101     98
102     98
103     99
104    100
Name: Statistics, dtype: int64

7. What is the ID of the class topper ?

In [68]:
toper = a['GPA'].max()
toper

93.71

In [89]:
pd.crosstab(index = a['ID'], columns = a['GPA'],values = a['GPA'].max(),aggfunc = 'max')    #first method

GPA,63.49,64.75,65.04,70.11,71.22,72.89,73.47,74.11,74.17,74.43,...,89.95,90.31,90.62,90.66,91.14,91.61,91.74,91.90,93.06,93.71
ID,,,,,,,,,,,,,,,,,,,,,
1141,NaN,NaN,NaN,NaN,NaN,NaN,93.71,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1142,NaN,NaN,NaN,NaN,93.71,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1144,NaN,NaN,NaN,NaN,NaN,93.71,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1145,NaN,NaN,NaN,93.71,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.71

In [97]:
top = a.loc[a['GPA'].argmax()]
top #second method

ID                      1245
class                      A
gender                  male
GPA                    93.71
Algebra                   93
Calculus1                 97
Calculus2                 99
Statistics               100
Probability               97
Measure                   90
Functional_analysis       90
Name: 104, dtype: object

In [98]:
top['ID']

1245

In [111]:
 a['GPA'].max()

93.71

In [112]:
a['GPA']== 93.71, a['ID']  #third method

(0      False
 1      False
 2      False
 3      False
 4      False
        ...
 100    False
 101    False
 102    False
 103    False
 104     True
 Name: GPA, Length: 105, dtype: bool,
 0      1141
 1      1142
 2      1143
 3      1144
 4      1145
        ...
 100    1241
 101    1242
 102    1243
 103    1244
 104    1245
 Name: ID, Length: 105, dtype: int64)

In [117]:
a[a['GPA'] == 93.71]['ID']   #fourth method

104    1245
Name: ID, dtype: int64

In [151]:
q = a['GPA'].idxmax()  
id_max_gpa = a.loc[q, 'ID']    #Fifth method
id_max_gpa

1245

In [152]:
s = a['GPA'].argmax()    #sixth method
s1 = a.loc[s,'ID']
s1

1245

8.What is the gender of probabilty topper?

In [133]:
gp = a['Probability'].max()
gp

97

In [136]:
 a.loc[gp,'gender']

'male'

9. Create Pivot Table for gender and class?

In [167]:
pd.crosstab(a['gender'],a['class'])

class    A   B
gender
female  48  20
male    28   9

10. Which subject got least average marks.?

In [180]:
a['Algebra'].mean()

76.05714285714286

In [181]:
a['Calculus1'].mean()

71.96190476190476

In [183]:
a['Calculus2'].mean()

78.94285714285714

In [184]:
a['Statistics'].mean()

85.13333333333334

In [185]:
a['Probability'].mean()

83.87619047619047

In [186]:
a['Measure'].mean()

80.76190476190476

In [187]:
a['Functional_analysis'].mean()

75.32380952380953

In [197]:
sm = (a.loc[:,['Algebra','Calculus1','Calculus2','Statistics','Probability','Measure']].mean())  #second method
sm

Algebra        76.057143
Calculus1      71.961905
Calculus2      78.942857
Statistics     85.133333
Probability    83.876190
Measure        80.761905
dtype: float64

In [199]:
sm.min()

71.96190476190476

In [224]:
z = a.mean()
z.min()    #third method

C:\Users\anaji\AppData\Local\Temp\ipykernel_12032\2255029274.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  z = a.mean()

71.96190476190476

11. How many male and female students are there ?

In [227]:
len(a[a['gender']=='male'])

37

In [228]:
len(a[a['gender']=='female'])

68

In [231]:
sum(a['gender']=='male')

37

In [232]:
sum(a['gender']=='female')

68

In [237]:
sum(a['gender']=='male'), sum(a['gender']=='female')

(37, 68)

In [238]:
len(a[a['gender']=='male']),len(a[a['gender']=='female'])

(37, 68)

12. How many female student are there from class A?

In [249]:
sum((a['gender']=='female') & (a['class']== 'A'))

48

In [252]:
len(a[(a['gender'] == 'female') & (a['class'] == 'A')])

48

In [278]:
b = a[(a['gender']=='female') & (a['class']=='A')]['gender']
b.count()

48

13. Which class has more strength ?

In [256]:
len(a[a['class']=='A']) , len(a[a['class'] == 'B'])  #first method

(76, 29)

In [257]:
a["class"].value_counts()   #second method

A    76
B    29
Name: class, dtype: int64

In [259]:
sum(a['class']=='A'), sum(a['class']=='B')  #third method

(76, 29)

In [263]:
a['class'].mode()   #fourth method

0    A
Name: class, dtype: object

14.Sort the data as per algebra ?

In [280]:
a

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [281]:
a.sort_values('Algebra')

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
3,1144,A,female,72.89,46,72,38,60,29,54,51
2,1143,A,female,74.56,47,48,71,60,61,68,64
4,1145,A,female,70.11,49,45,63,60,66,66,61
1,1142,A,female,71.22,57,50,51,51,55,62,61
9,1150,A,female,76.50,60,61,60,69,73,60,62
...,...,...,...,...,...,...,...,...,...,...,...
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
97,1238,A,male,91.14,98,90,98,97,83,93,89
101,1242,B,male,89.84,98,77,95,98,96,88,100

In [283]:
a.sort_values(by='Algebra', ascending=True)

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
3,1144,A,female,72.89,46,72,38,60,29,54,51
2,1143,A,female,74.56,47,48,71,60,61,68,64
4,1145,A,female,70.11,49,45,63,60,66,66,61
1,1142,A,female,71.22,57,50,51,51,55,62,61
9,1150,A,female,76.50,60,61,60,69,73,60,62
...,...,...,...,...,...,...,...,...,...,...,...
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
97,1238,A,male,91.14,98,90,98,97,83,93,89
101,1242,B,male,89.84,98,77,95,98,96,88,100

In [284]:
a.sort_values(by='Algebra', ascending=False)

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
101,1242,B,male,89.84,98,77,95,98,96,88,100
97,1238,A,male,91.14,98,90,98,97,83,93,89
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
...,...,...,...,...,...,...,...,...,...,...,...
5,1146,A,male,65.04,60,60,39,61,65,74,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
4,1145,A,female,70.11,49,45,63,60,66,66,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51

15.How many students got exactly 64 marks from functional analysis?

In [286]:
a[a['Functional_analysis']== 64]

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
2,1143,A,female,74.56,47,48,71,60,61,68,64
14,1155,A,male,81.67,73,60,55,76,77,74,64
18,1159,B,male,75.64,60,68,54,76,76,76,64
19,1160,A,male,76.46,67,73,64,78,83,76,64
26,1167,B,female,77.76,67,46,71,80,82,69,64
34,1175,A,female,81.29,67,62,85,83,82,83,64
46,1187,A,female,80.60,60,60,73,87,82,74,64
48,1189,A,female,83.15,68,80,92,87,80,83,64

In [287]:
len(a[a['Functional_analysis']== 64])

8

In [289]:
sum(a['Functional_analysis']== 64)

8

In [295]:
c = a['Functional_analysis']== 64
c.sum()

8