# Task-2

What are the column names in the Iris dataset?

How many rows and columns are there in the dataset?

Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?

What is the average sepal length?

what is the largest petal length, and what is its value?

What is the mean and standard deviation of petal width for the Setosa species?

Check for missing values in the dataset

Extract the Species column using loc and iloc method

Drop sepal Width column

Get petalwidth 10th value using at and iat

In [1]:
import numpy as np
import pandas as pd

In [70]:
df = pd.read_excel(r"C:\Users\anaji\Sowjanya\Task FOLDER\Pandas\Iris_clean.xlsx")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

**What are the column names in the Iris dataset?**

In [9]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

**How many rows and columns are there in the dataset?**

In [6]:
df.shape

(165, 6)

**Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?**

In [5]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

In [13]:
sep_len = df['SepalLengthCm']
sep_len

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64

In [16]:
sep_len.describe()

count    161.000000
mean       7.510559
std       11.162995
min        4.300000
25%        5.100000
50%        5.800000
75%        6.500000
max      116.300000
Name: SepalLengthCm, dtype: float64

In [17]:
sep_len.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: SepalLengthCm
Non-Null Count  Dtype
--------------  -----
161 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [18]:
sep_len.median()

5.8

In [19]:
sep_len.var()

124.61245031055907

In [21]:
sep_wid = df['SepalWidthCm']
sep_wid

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
160    2.8
161    2.7
162    3.6
163    3.2
164    2.7
Name: SepalWidthCm, Length: 165, dtype: float64

In [22]:
sep_wid.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: SepalWidthCm
Non-Null Count  Dtype
--------------  -----
159 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [23]:
sep_wid.describe()

count    159.000000
mean       4.713208
std       13.468999
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max      130.000000
Name: SepalWidthCm, dtype: float64

In [24]:
sep_wid.median()

3.0

In [25]:
sep_wid.var()

181.41393838070226

In [26]:
pet_len = df['PetalLengthCm']
pet_len

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
160    6.7
161    4.9
162    6.1
163    5.1
164    5.3
Name: PetalLengthCm, Length: 165, dtype: float64

In [27]:
pet_len.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: PetalLengthCm
Non-Null Count  Dtype
--------------  -----
159 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [28]:
pet_len.describe()

count    159.000000
mean       4.022642
std        2.052505
min        1.000000
25%        1.600000
50%        4.500000
75%        5.150000
max       13.800000
Name: PetalLengthCm, dtype: float64

In [29]:
pet_len.median()

4.5

In [30]:
pet_len.var()

4.212775256747074

In [31]:
pet_wid = df['PetalWidthCm']
pet_wid

0       0.2
1       0.2
2       0.2
3      10.2
4       0.2
       ...
160     2.0
161     1.8
162     2.5
163     2.0
164     1.9
Name: PetalWidthCm, Length: 165, dtype: float64

In [32]:
pet_wid.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: PetalWidthCm
Non-Null Count  Dtype
--------------  -----
165 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [33]:
pet_wid.describe()

count    165.000000
mean       2.810909
std       12.097722
min        0.100000
25%        0.400000
50%        1.500000
75%        1.900000
max      111.100000
Name: PetalWidthCm, dtype: float64

In [34]:
pet_wid.median()

1.5

In [35]:
pet_wid.var()

146.3548802660753

**What is the average sepal length?**

In [36]:
sep_len.mean()

7.510559006211181

**what is the largest petal length, and what is its value?**

In [37]:
pet_len.max()

13.8

**What is the mean and standard deviation of petal width for the Setosa species?**

In [56]:
a = df.head(50).iloc[:,4]  #as till 50 we have setosa species
a

0       0.2
1       0.2
2       0.2
3      10.2
4       0.2
5       0.4
6       0.3
7       0.2
8       0.2
9       0.1
10      0.2
11      0.2
12     10.1
13      0.1
14      0.2
15      0.4
16      0.4
17      0.3
18      0.3
19      0.3
20      0.2
21      0.4
22      0.2
23      0.5
24      0.2
25      0.2
26      0.4
27      0.2
28    110.2
29      0.2
30      0.2
31      0.4
32      0.1
33      0.2
34      0.1
35      0.2
36      0.2
37      0.1
38      0.2
39      0.2
40      0.3
41      0.3
42      0.2
43      0.6
44      0.4
45      0.3
46      0.2
47      0.2
48      0.2
49      0.2
Name: PetalWidthCm, dtype: float64

In [57]:
a.mean()

2.844

In [58]:
a.std()

15.616006440279701

**Check for missing values in the dataset**

In [40]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

In [42]:
df.isnull().sum()

Id               0
SepalLengthCm    4
SepalWidthCm     6
PetalLengthCm    6
PetalWidthCm     0
Species          5
dtype: int64

**Extract the Species column using loc and iloc method**

In [43]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

In [59]:
df.iloc[:,5]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, Length: 165, dtype: object

In [63]:
df.loc[:,'Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, Length: 165, dtype: object

**Drop sepal Width column**

In [71]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

In [72]:
df.drop('SepalWidthCm',axis=1,inplace=True)
df

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5          10.2     Iris-setosa
4      5           50.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
160  161            7.7            6.7           2.0             NaN
161  162            6.3            4.9           1.8  Iris-virginica
162  163            7.2            6.1           2.5  Iris-virginica
163  164            6.5            5.1           2.0  Iris-virginica
164  165            6.4            5.3           1.9  Iris-virginica

[165 rows x 5 columns]