**Task1: Append and Modify Elements**

Create an empty list called numbers. Append the numbers 1, 2, and 3 to the list. 

Modify the element at index 1 to be 4. Print the updated list.

In [38]:
numbers=list()

In [39]:
numbers.append(1)
numbers.append(2)
numbers.append(3)

In [40]:
numbers

[1, 2, 3]

In [41]:
numbers[1]=4

In [42]:
numbers

[1, 4, 3]

**Task2: Slicing and Concatenation**

Create a list called fruits with elements 'apple', 'banana', 'orange', 'mango', and 'kiwi'.

Create a new list by slicing fruits to include only the citrus fruits ('orange' and 'mango").

Create a new list called tropical by slicing fruits to include only the tropical fruits ('banana" and "kiwi').

Concatenate citrus and tropical lists to create a new list called combined. Print combined.

In [45]:
fruits=["apple","banana","orange","mango","kiwi"]

In [103]:
citrus_fruits = list(fruits[2:4])  #first method

In [104]:
print(citrus_fruits)

['orange', 'mango']

In [85]:
citrus_fruits = list(fruits[-2::])   #second method

In [88]:
print(citrus_fruits)

['mango', 'kiwi']

In [105]:
tropical_list=list(fruits[1:5:3])  #first method

In [106]:
print(tropical_list)

['banana', 'kiwi']

In [86]:
tropical_list=list(fruits[-1:-5:-3])  #second method

In [87]:
print(tropical_list)

['kiwi', 'banana']

**concatenation using first method**

In [108]:
combined=citrus_fruits+tropical_list

In [109]:
print(combined)

['orange', 'mango', 'banana', 'kiwi']

**concatenation using second method**

In [95]:
combined=citrus_fruits+tropical_list

In [96]:
print(combined)

['mango', 'kiwi', 'kiwi', 'banana']

**Task3: Counting and Removing Elements**

Create a list called colors with repeated elements 'red', 'blue', 'red', 'green', 'red'. Print the number of occurrences of 'red' in the list. Remove all occurrences of 'red' from the list. Print the updated list.

In [121]:
colors = ['red','blue','red','green','red']

In [122]:
colors.count('red')  #count gives frequnecy of the occurence of the value in the list

3

In [123]:
colors.remove('red')    #remove function removes only first occurence of the red

In [124]:
colors

['blue', 'red', 'green', 'red']

In [125]:
colors.remove('red')

In [126]:
colors

['blue', 'green', 'red']

In [127]:
colors.pop()#we can use pop function to remove based on index numbers and if we didnt give index number then it takes last val

'red'

In [128]:
colors

['blue', 'green']

**Task 4: List Manipulation**

Add 'cheese' to the end of the list. Remove 'milk' from the list.

Create a list called groceries with initial items: 'bread', 'milk', 'eggs', 'butter'. Print the final list of groceries.
Insert 'yogurt' at index 1

In [129]:
Dairy_products = ['bread','milk','eggs','butter']

In [131]:
Dairy_products.append('cheese')

In [132]:
print(Dairy_products)

['bread', 'milk', 'eggs', 'butter', 'cheese']

In [133]:
Dairy_products.pop(1)

'milk'

In [134]:
Dairy_products

['bread', 'eggs', 'butter', 'cheese']

In [137]:
Dairy_products.insert(1,'yogurt')

In [138]:
Dairy_products

['bread', 'yogurt', 'eggs', 'butter', 'cheese']