Task 1: `Counting Numbers`
    
    write a program that prints the numbers from 1 to 10, each on a new line.


Task 2: `Even Numbers`

    write a program that prints the even numbers from 1 to 20, each on a new line.


Task 3: `Square Numbers`

    Write a program that calculates and prints the square of each number from 1 to 5.


Task 4: `Multiples of Three`

    write a program that prints the multiples of 3 from 3 to 30, each on a new line.

Task 5: `Reverse Counting`

    Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

**Task 1: Counting Numbers**

write a program that prints the numbers from 1 to 10, each on a new line.

In [38]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
a=1
while a <= 10:
    print(a)
    a= a+1

1
2
3
4
5
6
7
8
9
10

**Task 2: Even Numbers**

write a program that prints the even numbers from 1 to 20, each on a new line.

In [31]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [39]:
a=1
while a<=20:
    if a%2==0:
        print(a)
    a=a+1

2
4
6
8
10
12
14
16
18
20

**Task 3: Square Numbers**

Write a program that calculates and prints the square of each number from 1 to 5.

In [41]:
[i**2 for i in range(1,6)]

[1, 4, 9, 16, 25]

In [44]:
n=1
while n<=5:
    print(n**2)
    n=n+1

1
4
9
16
25

**Task 4: Multiples of Three**

write a program that prints the multiples of 3 from 3 to 30, each on a new line.

In [46]:
[i for i in range(3,31) if i%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [50]:
n=3
while n<=30:
    if(n%3==0):
        print(n)
    n=n+1

3
6
9
12
15
18
21
24
27
30

**Task 5: Reverse Counting**

Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

In [62]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [67]:
a=10
while a<=10:
    print(a)
    a=a-1
    if(a==0):
        break

10
9
8
7
6
5
4
3
2
1