**Assignment Task 1: Tuple Basics Create a Python tuple containing the names of your favorite fruits** 
    
**Write a Python program to print each fruit name from the tuple.**

In [1]:
fruits=("apple","banana","orange","guava","papaya",)
print(fruits)

('apple', 'banana', 'orange', 'guava', 'papaya')

Assignment Task 2: 

**Tuple Operations Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.**

In [3]:
Tuple_1=("sowjanya","pranitha","padma","shreya")
Tuple_2=("Surya","Prabhas","Mahesbabu","NTR")

In [4]:
a = Tuple_1+Tuple_2

In [5]:
a

('sowjanya',
 'pranitha',
 'padma',
 'shreya',
 'Surya',
 'Prabhas',
 'Mahesbabu',
 'NTR')

In [6]:
len(a)

8

Assignment Task 3:

**Set Creation Create a Python set containing the first 10 even numbers (2, 4, 6, ...). Write a program to display this set.**

In [7]:
even_numbers = set(range(2,21,2))

In [8]:
even_numbers

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [9]:
# range() ---> range(start, stop[, step]) -> range object

Assignment Task 4: 
    
**Set Operations : Given two sets, write a Python program to find the union, intersection, and difference of these sets.**

In [14]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}
set1.union(set2) #combines two sets

{1, 2, 3, 4, 5, 6, 8, 10}

In [13]:
set1.intersection(set2) #it gives common values out of two sets.

{2, 4}

In [15]:
set1.difference(set2) #it gives other than intersection values of the set which we mention at first.

{1, 3, 5}

In [17]:
set2.difference(set1) #here it gives uncommon values of set 2

{6, 8, 10}

Assignment Task 5:

**Tuple and Set : Conversion Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum values from the set.**

In [18]:
num1= (22,33,44,55,66)
a = set(num1)

In [19]:
max(a)  #gives biggest value

66

In [21]:
min(a)  #gives smallest value

22

Assignment Task 6: 

**Tuple Immutability Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.**

Immuatbality means it doesn't effect the original values of the datatypes.

Immutable objects can be used as keys in dictionaries and elements in sets because their values don't change.

In [22]:
t = 1,2,3,4
t.append()

AttributeError: 'tuple' object has no attribute 'append'

**tuple object doesn't have mutable features like append, insert,extend, remove, clear,pop**

In [23]:
t= (1,2,3,4)
t1= (1,2,3,4,5)
t2=t+t1

In [24]:
t2

(1, 2, 3, 4, 1, 2, 3, 4, 5)

In [25]:
t

(1, 2, 3, 4)

**Set Operations and Methods: Write a Python program that takes a set of numbers and performs the following operations:**

Add a new number to the set.

Remove a number from the set.

Check if a specific number is in the set.

Find the size of the set.

In [26]:
s1={1,2,3,4,5,6,7,8}

In [27]:
s1.add(10)

In [28]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [29]:
s1.remove(2) #value 2 will be removed from the set

In [30]:
s1

{1, 3, 4, 5, 6, 7, 8, 10}

In [32]:
3 in s1

True

In [33]:
len(s1)

8

Assignment Task 8: 

**Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.**

In [34]:
string = ("hey","hi","hello","hai","helo","hie","heya","hi!","Hai","Hei")

In [35]:
string[3:8]

('hai', 'helo', 'hie', 'heya', 'hi!')

Assignment Task 9:

**Set Operations with Lists Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.**

In [38]:
my_list = ["h","g","i",1,2,3,"h",2,"g"]

In [39]:
set1 = set(my_list)

In [40]:
set1

{1, 2, 3, 'g', 'h', 'i'}

In [41]:
dup = len(my_list)-len(set1)

In [42]:
dup

3

Assignment Task 10:

**Tuple and Set Combinations Create a tuple containing the names of your friend's favorite movies and a set containing the names of your favorite movies. Write a Python program to find and display common elements**

In [43]:
Friends_movies = ("vaishali","e nagaraniki emindi","sontham","orange")
my_fav = {"vaishali","sontham","akasham ni hadura"}

**here common elements indicates both's fav movie, which is related to intersection function. And we need to change tuple data type as intersection function is present in set**

In [48]:
C = set(Friends_movies).intersection(my_fav)

In [50]:
C

{'sontham', 'vaishali'}