Task 1: Leap Year Checker

Write a program that takes a year as input and determines whether it is a leap year or not. A leap year is a year that is divisible by 4, but not divisible by 100, unless it is also divisible by 400. Display an appropriate message indicating whether the year is a leap year or not.

Task 2: Grade Calculator

Write a program that takes a student's score as input (out of 100) and determines their grade based on the following conditions: If the score is 90 or above, the grade is 'A'. If the score is between 80 and 89, the grade is 'B'. If the score is between 70 and 79, the grade is 'C'. If the score is between 60 and 69, the grade is 'D'. If the score is below 60, the grade is 'F'. Display the grade corresponding to the entered score.

Task 3: Calculator Write a program that takes two numbers as input and performs a mathematical operation (+, -, *, /) based on the user's choice. Use a conditional statement to determine the operation to be performed. Display the result of the calculation.

Task 4: Reverse String Write a Python function to reverse a string.

Task 5: Palindrome Write a Python function that checks whether a passed string is a palindrome or not.

Task 6: Counting Write a Python function that accepts a string and counts the number of upper and lower case letters.

# Task 1: Leap Year Checker

In [33]:
year = int(input("enter the year : "))               #using if and else
if (year%4==0 and year%100 != 0 )or (year%100==0 and year%400==0):
    print("it is a leap year")
else:
    print("it is not a leap year")

enter the year : 1997
it is not a leap year

In [34]:
 [i  for i in range(1990,2001) if (i%4==0 and i%100 != 0) or (i%100==0 and i%400==0)]    #using list comprehension

[1992, 1996, 2000]

In [35]:
year = int(input("Enter your year:: "))                        #using nested if and elif 

if (year%100==0 ) :

     if (year%400==0):
        print("it is a leap year")
elif (year%4==0 and year%100 != 0):
    print("it's a leap year")

else:
    print("it is not a leap year")

Enter your year:: 1994
it is not a leap year

In [36]:
for year in range(1990,2001):                           #using while loop
    while year :
        if(year%100==0)and (year%400==0) or (year%4==0 and year%100 != 0):
            print(f"{year} it is a leap year")
        year = year + 1
        year == 2001
        break

1992 it is a leap year
1996 it is a leap year
2000 it is a leap year

In [40]:
year= int(input("enter the year : "))                    #using function
def years(year):
        if (year%100==0)and (year%400==0) or (year%4==0 and year%100 != 0):
            print("it is a leap year")

enter the year : 1996

In [41]:
years(year)

it is a leap year

In [37]:
c = lambda year : "leap year" if (year%100==0) and (year%400==0) or (year%4==0 and year%100 != 0) else ("it is not a leap year")

In [38]:
c(1997)                                                #using lambda

'it is not a leap year'

In [65]:
values = list(range(1990,2001))            #using map function

In [66]:
def years(year):
        if (year%100==0)and (year%400==0) or (year%4==0 and year%100 != 0):
            return(f"{year} : it is a leap year")
        else:
            return(f"{year} : it is not a leap year")

In [60]:
list(map(years,values))

['1990 : it is not a leap year',
 '1991 : it is not a leap year',
 '1992 : it is a leap year',
 '1993 : it is not a leap year',
 '1994 : it is not a leap year',
 '1995 : it is not a leap year',
 '1996 : it is a leap year',
 '1997 : it is not a leap year',
 '1998 : it is not a leap year',
 '1999 : it is not a leap year',
 '2000 : it is a leap year']

In [89]:
def years(year):
        if (year%100==0)and (year%400==0) or (year%4==0 and year%100 != 0):     #using filter function
            print(f"{year} : it is a leap year")

In [88]:
 c = list(filter(years,values))

1992 : it is a leap year
1996 : it is a leap year
2000 : it is a leap year

# Task 2: Grade Calculator

Write a program that takes a student's score as input (out of 100) and determines their grade based on the following conditions: If the score is 90 or above, the grade is 'A'. If the score is between 80 and 89, the grade is 'B'. If the score is between 70 and 79, the grade is 'C'. If the score is between 60 and 69, the grade is 'D'. If the score is below 60, the grade is 'F'. Display the grade corresponding to the entered score.

In [90]:
n = int(input("enter the score : "))        #using normal function
def score(n):
    if n > 90:
        print("The grade : A ")
    elif (n >=80 and n <= 89) :
        print(" The grade is B ")
    elif ( n >= 70 and n <= 79) :
        print(" The grade is C ")
    elif (n >= 60 and n <= 69) :
        print("The grade is D ")
    elif (n > 100 or n < 0) :
        print("Enter a valid marks")
    else :
        print("Fail")

enter the score : 78

In [91]:
score(n)

 The grade is C

In [157]:
#using zip function in normal function to know the grades of each student

In [23]:
student_names = ["swetha","swathi","neha","sruthi"]
n = [45,66,77,98]
student_score = zip(student_names,n)
def score(n):
    if n > 90:
        return("The grade is A ")
    elif (n >=80 and n <= 89) :
        return(" The grade is B ")
    elif ( n >= 70 and n <= 79) :
        return(" The grade is C ")
    elif (n >= 60 and n <= 69) :
        return("The grade is D ")
    elif (n > 100 or n < 0) :
        return("Enter a valid marks")
    else :
        return("Fail")
for student, n in student_score:
    grade = score(n)
    print(f"{student} : score = {n} : grade = {grade}")

swetha : score = 45 : grade = Fail
swathi : score = 66 : grade = The grade is D
neha : score = 77 : grade =  The grade is C
sruthi : score = 98 : grade = The grade is A

In [32]:
a = filter(lambda x: x[1]>70, student_score)              #filter function
for student, n in a:
    grade = score(n)
print(f"{student} : score = {n} : grade = {grade}")

sruthi : score = 98 : grade = The grade is A

In [18]:
#map function

In [33]:
n = [34,99,86,84,83]
def score(n):
    if n > 90:
        print("The grade : A ")
    elif (n >=80 and n <= 89) :
        print(" The grade is B ")
    elif ( n >= 70 and n <= 79) :
        print(" The grade is C ")
    elif (n >= 60 and n <= 69) :
        print("The grade is D ")
    elif (n > 100 or n < 0) :
        print("Enter a valid marks")
    else :
        print("Fail")

In [38]:
a = list(map(score,n))

Fail
The grade : A
 The grade is B
 The grade is B
 The grade is B

# Task 3: mathematical operation

Calculator Write a program that takes two numbers as input and performs a mathematical operation (+, -, *, /) based on the user's choice. Use a conditional statement to determine the operation to be performed. Display the result of the calculation.

In [59]:
first = int(input("enter the first number :"))    #using function
second = int(input("enter the second number : "))
operation_choice = input('enter the operation : addition : "+",subraction : "-", multiplication : "*",division : "/" ')
def operation(first,second):
    if operation_choice == "+":
        print(f"the sum of two numbers is {first+second}")
    elif operation_choice == "-":
        print(f"the difference between two numbers is {first-second}")
    elif operation_choice == "*":
        print(f"the product of two numbers is {first*second}")
    else:
        print(f"the divsion of two numbers is {first/second}")

enter the first number :23
enter the second number : 24
enter the operation : addition : "+",subraction : "-", multiplication : "*",division : "/" +

In [60]:
operation(first,second)

the sum of two numbers is 47

In [61]:
#reduce function

In [78]:
from functools import reduce
a = operation(first,second)
reduce(a,operation_choice)

the sum of two numbers is 47

'+'

# Task 4 : Reverse String
Reverse String Write a Python function to reverse a string.

In [7]:
def rev_string():                              #using normal function
    a = input("enter the string : ")
    return a[ : :-1]

In [9]:
rev_string()

enter the string : sowjanya

'aynajwos'

In [9]:
def rev_string(acc,char):                     #using reduce function
    return (char,acc)      
a = input("enter the name : ")
from functools import reduce
reversed_string = reduce(rev_string,a)
print(f"{reversed_string}")

enter the name : sowji
('i', ('j', ('w', ('o', 's'))))

In [12]:
from functools import reduce
import operator
a = input("enter the name : ")
reversed_string = reduce(operator.add,reversed(a))
print(f"{reversed_string}")

enter the name : sowji
ijwos

In [34]:
names = ["sowji","prani","pandu"]            #using map function
def rev_string(names):
    return names[::-1]

In [33]:
list(map(rev_string,names))

['ijwos', 'inarp', 'udnap']

In [50]:
c = lambda name : name[::-1]               #using lambda function

In [52]:
c("sowji")

'ijwos'

In [58]:
names = ["sowji","prani","pandu"]            #using enumerate function
def rev_string(names):
    return names[::-1]
c = names[::-1]
for i in enumerate(c,1):
    print(i)

(1, 'pandu')
(2, 'prani')
(3, 'sowji')

In [59]:
names = ["sowji","prani","pandu"]            #using enumerate function
def rev_string(names):
    return names[::-1]
c = list(map(rev_string,names))
for i in enumerate(c,1):
    print(i)

(1, 'ijwos')
(2, 'inarp')
(3, 'udnap')

In [113]:
names = ["sowji", "prani", "pandu"]                         #using lambda function for multiple values
reversed_strings = list(map(lambda x: x[::-1], names))

for index, reversed_name in enumerate(reversed_strings):
    original_name = names[index]
    print(f"Original Name: {original_name}, Reversed Name: {reversed_name}")

Original Name: sowji, Reversed Name: ijwos
Original Name: prani, Reversed Name: inarp
Original Name: pandu, Reversed Name: udnap

# Task 5: Palindrome
Task 5: Palindrome Write a Python function that checks whether a passed string is a palindrome or not.

In [144]:
user_input = input("enter the string : ")      #using functions
def pal(user_input):
    if user_input[::1]== user_input[::-1]:
            print("it is a palindrome")
    else:
        print("it is not a palindrome")

enter the string : refer

In [145]:
pal(user_input)

it is a palindrome

In [146]:
#using lambda function

In [157]:
c = (lambda x: "palindrome"  if (x[::1]==x[::-1]) else ("it is not a palindrome"))

In [159]:
c("mam")

'palindrome'

In [163]:
c("sowji")

'it is not a palindrome'

In [169]:
names = ["refer", "prani", "mom"]                       #using lambda function, map function  and enumerate for multiple values
reversed_strings = list(map(lambda x: x[::-1], names))

for index, reversed_name in enumerate(reversed_strings):
    original_name = names[index]
    if (original_name == reversed_name):
        print(f"Original Name: {original_name}, Reversed Name: {reversed_name}, it is a palindrome")
    else:
        print(f"original Name : {original_name}, Reversed Name : {reversed_name}, it is not a palindrome")

Original Name: refer, Reversed Name: refer, it is a palindrome
original Name : prani, Reversed Name : inarp, it is not a palindrome
Original Name: mom, Reversed Name: mom, it is a palindrome

# Task 6 upper and lower cases
Task 6: Counting Write a Python function that accepts a string and counts the number of upper and lower case letters.

In [9]:
string= input("Enter a string:: ")   #using function
Upper=[]
Lower=[]

def count(string):
    
    upper = [chr(65+i) for i in range(0,26)]
    lower = [chr(97+i) for i in range(0,26)]
    
    for i in string:
        if i in upper:
            Upper.append(i)
        else :
            Lower.append(i)
            
    print(Upper)
    print(Lower)
    print("Number of upper case letters are:: ",len(Upper))
    print("Number of lower case letters are:: ",len(Lower))
count(string)

Enter a string:: SoWjAnYa
['S', 'W', 'A', 'Y']
['o', 'j', 'n', 'a']
Number of upper case letters are::  4
Number of lower case letters are::  4