

1. **Print Numbers from 1 to N:**
   Write a Python program that uses a for loop to print all numbers from `1 to N` and `substract 5 `from each number.where N is a `positive integer` entered by the user.

2. **Calculate the Sum of Numbers from 1 to N:**
   Write a Python program that calculates and prints the `sum` of all numbers from `1 to N`, where N is a `positive integer` entered by the user, using a for loop.

3. **Print Even Numbers:**
   Write a Python program that prints all `even numbers` from `50 to 100` using a `for` loop.

4. **Reverse a String:**
   Write a Python program that takes a string as input and uses a `for loop` to print the characters of the string in `reverse order`.

5. **Count Vowels in a String:**
    `name = "innomatics research labs"`
   Write a Python program uses a for loop to count the number of vowels (a, e, i, o, u) in the string. Ignore case sensitivity.

6. **Generate a Multiplication Table:**
   Write a Python program that generates and prints the multiplication table for  6.

**Print Numbers from 1 to N: Write a Python program that uses a for loop to print all numbers from 1 to N and substract 5 from each number.where N is a positive integer entered by the user**

In [20]:
n = int(input("enter the number : "))

enter the number : 7

In [23]:
for i in range(1,n+1):
    print(i-5)

-4
-3
-2
-1
0
1
2

**Calculate the Sum of Numbers from 1 to N: Write a Python program that calculates and prints the sum of all numbers from 1 to N, where N is a positive integer entered by the user, using a for loop.**

In [24]:
total = 0
n = int(input("enter the number : "))
for i in range(1,n+1):
    total=total+i

enter the number : 3

In [25]:
total

6

**Print Even Numbers: Write a Python program that prints all even numbers from 50 to 100 using a for loop.**

In [28]:
for i in range(50,101):
    if(i%2==0):
        print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

**Reverse a String: Write a Python program that takes a string as input and uses a for loop to print the characters of the string in reverse order.**

In [31]:
string = input("enter the string : ")
for i in string[-1: : -1]:
    print(i)

enter the string : sowji
i
j
w
o
s

**Count Vowels in a String: name = "innomatics research labs" Write a Python program uses a for loop to count the number of vowels (a, e, i, o, u) in the string. Ignore case sensitivity.**

In [43]:
string ="innomatics research labs"

In [44]:
len(string)

24

In [67]:
vo=[]
for i in string:
    if i in ("a","e","i","o","u"):
        vo.append(i)

In [68]:
vo

['i', 'o', 'a', 'i', 'e', 'e', 'a', 'a']

In [69]:
len(vo)

8

**Generate a Multiplication Table: Write a Python program that generates and prints the multiplication table for 6.**

In [74]:
n = range(1,11)
for i in n:
    print(f" 6 * {i} = {i*6}")

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60