**class task**

In [172]:
# take combination of integers, float and string and print only float values
#print only strings
#replace integer values with a name is called "integer", float as "float" and string as "string"

In [173]:
list1 = [ 2, 2.2, "hello", "25",2.0,1]

In [177]:
def s(n):                                         #float values
    if type(n) == float:
        return n
list(filter(s,list1))

[2.2, 2.0]

In [178]:
def s(n):                                         #int values
    if type(n) == int:
        return n
list(filter(s,list1))

[2, 1]

In [179]:
def s(n):                                            #string
    if type(n) == str:
        return n
list(filter(s,list1))

['hello', '25']

In [181]:
def s(n):                                     #replace
    if type(n)== int:
        return "integer"
    elif type(n)== float:
        return "float"
    else:
        return "string"
list(map(s,list1))

['integer', 'float', 'string', 'string', 'float', 'integer']

# task14

1)

a) **Create a lambda function that takes two arguments and returns their sum.**

In [1]:
c = lambda x,y : x+y

In [2]:
c(12,24)

36

b) **Create another lambda function that takes a single argument and returns its square.**

In [3]:
c = lambda n : n**2

In [4]:
c(2)

4

c)  **Use the lambda functions to calculate the sum and square of various numbers and print the results.**

In [19]:
c= lambda *n : sum(n)

In [20]:
c(1,2,3,4,5,6)

21

In [30]:
list(map(lambda n : n**2  , list(range(1,10))))  #using range method

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
list1 = [1,2,3,4,5,6,7]                     #using list of various numbers
list(map(lambda n : n**2  , list1))

[1, 4, 9, 16, 25, 36, 49]

2)**Define a list of integers.**

a) **Use the filter function to create a new list that contains only the even numbers from the original list**.

In [40]:
list2 = [1,2,3,4,5,6,23,24,25,26,82,83,84]

In [42]:
def even(n):
    if n %2  == 0:
        return n

In [43]:
list(filter(even,list2))

[2, 4, 6, 24, 26, 82, 84]

b) **Use the filter function again to create a new list that contains only numbers greater than 10 from the original list.**

In [44]:
def num(n):
    if n>10:
        return n

In [45]:
list(filter(num,list2))

[23, 24, 25, 26, 82, 83, 84]

c) **Print both filtered lists.**

In [46]:
list(filter(even,list2)) + list(filter(num,list2))

[2, 4, 6, 24, 26, 82, 84, 23, 24, 25, 26, 82, 83, 84]

3) **Define a list of strings where each string represents a number (e.g., ["1", "2", "3"]).**

a) **Use the map function to convert each string to an integer and store the result in a new list.**

In [66]:
n = ["1","2","3","4","5","6"]

In [69]:
def si(n):
    if type(n)== str:
        return int(n)

In [77]:
newlist = list(map(si,n))

In [78]:
newlist

[1, 2, 3, 4, 5, 6]

b) **Use the map function again to square each integer in the new list and store the result in another new list.**

In [79]:
def square(n):
    return n*n

In [82]:
newlist_sq = list(map(square,newlist))

In [83]:
newlist_sq

[1, 4, 9, 16, 25, 36]

c) **Print both new lists.**

In [84]:
newlist+newlist_sq

[1, 2, 3, 4, 5, 6, 1, 4, 9, 16, 25, 36]

4)**Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age".**

**Example: [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]**

a) **Use the filter function to create a new list that contains only the people who are older than 25.**


Print the list of names.

In [85]:
dict1 = [ {"name": "Alice", "age": 30}, {"name": "Bob", "age": 25},{"name": "Aishu", "age": 26}, {"name": "Barbie", "age": 28},]

In [114]:
def people(dict1):
    if dict1["age"] > 25:
        return (dict1)

In [116]:
a_25 = list(filter(people,dict1))

In [117]:
a_25

[{'name': 'Alice', 'age': 30},
 {'name': 'Aishu', 'age': 26},
 {'name': 'Barbie', 'age': 28}]

b) **Use the map function to create a new list that contains the names of the filtered people.**

In [133]:
def names_fp(dict1):
    return {"name" : dict1["name"]}

In [134]:
selected_names = list(map(names_fp,a_25))

In [135]:
selected_names

[{'name': 'Alice'}, {'name': 'Aishu'}, {'name': 'Barbie'}]

5)**Create a program that reads a list of numbers from the user (you can use the input function for this).**

**Use map and filter functions to perform the following operations:**

a) **Square each number.**

b) **Filter out numbers that are not divisible by 3.**

Print the result.

In [138]:
def sq(n):
    return n**2

In [163]:
list1 = []
n = int(input("how many integers you want to enter: "))
for i in range(1,n+1):
    a= int(input("enter the number: "))
    list1.append(a)
print(list1)

how many integers you want to enter: 4
enter the number: 1
enter the number: 2
enter the number: 6
enter the number: 7
[1, 2, 6, 7]

In [165]:
list(map(sq,list1))   #square of the user given integers

[1, 4, 36, 49]

In [167]:
def n3(n):
    if n%3 != 0:
        print(n)

In [171]:
list(filter(n3,list1))

1
2
7

[]